.topnav{
    z-index:99;
}
.containerGame{
    overflow:hidden;
    position:relative;
    top: 200px;
}
#ground{
    background: url("../images/Ground.png") repeat-x;
    height:550px;
    width:9000px;
    animation: slide 10s linear infinite;
    position:absolute;
    z-index:98;
}
/*@keyframes slide{
    0% {transform: translate3d(0,0,0);}
    100% {transform:translate3d(-3000px, 0,0);}
}*/
#mountains{
    background: url("../images/Mountains.png") repeat-x;
    height:550px;
    width:9000px;
    animation: slide2 200s linear infinite;
    position:absolute;
    z-index:97;
}
/*@keyframes slide2{
    0% {transform: translate3d(0,0,0);}
    100% {transform: translate3d(-3000px,0,0);}
}*/
#sky{
    background: url("../images/Sky.png") repeat-x;
    height:550px;
    width:9000px;
    animation: slide3 500s linear infinite;
    position:absolute;
    z-index:96;
}
/*@keyframes slide3{
    0% {transform: translate3d(0,0,0);}
    100% {transform: translate3d(-3000px,0,0);}
}*/
#moon{
    background: url("../images/Moon.png") repeat-x;
    height:550px;
    width:9000px;
    animation: slide4 700s linear infinite;
    position:relative;
    left:500px;
    z-index:96;
}
/*@keyframes slide4{
    0% {transform: translate3d(0,0,0);}
    100% {transform: translate3d(-3000px,0,0);}
}*/ 